{% extends "LugosiumOVHVPSMonitorBundle::layout.html.twig" %}

{% block content %}
    {{ parent() }}
    <div class="row-fluid">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
            <div id="dashboard"></div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        '@dashboard_js'
    %}
        <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
{% endblock %}

